
<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
          </ion-buttons>
      <ion-title class="align" color="danger">
      <b>Cart</b>
      </ion-title>
      
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
 
    <ion-card>
        <ion-card-content>
   
            <h5><b>Monday, November 25th</b></h5>
            <ion-grid class="ion-no-padding">
         <ion-row class="ion-margin-top">
                <ion-col class="ion-no-padding" size="3">
                    <ion-card-title>
                       <ion-avatar item-start>
              <img src="../../../../assets/Img/Cuisine2.jpg">
            </ion-avatar>
                </ion-card-title>
                </ion-col>
                <ion-col class="ion-align-self-center" size="6">
                    <span color="danger">1 Italian crusty bread</span>
         
 
                </ion-col>
                <ion-col class="ion-align-self-center" size="3">
                    <span  class="ion-float-right">$22</span> 
                </ion-col>
              </ion-row>
              <ion-row >
                  <ion-col size="12">
                      <span>Special Requests: Extra Tomato Sauce</span>
                  </ion-col>
               
                </ion-row>
              <ion-row >
                <ion-col size="7">
                    <span>Preferred Pick-up</span>
                </ion-col>
                <ion-col size="5">
                    <span class="ion-float-right">7.00-7.30PM</span>

                </ion-col>
              </ion-row>
              </ion-grid>
        
            </ion-card-content>
      </ion-card>
      
    <ion-card>
        <ion-card-content>
   
            <h5><b>Tuesday, November 26th</b></h5>
            <ion-grid class="ion-no-padding">
         <ion-row class="ion-margin-top">
                <ion-col class="ion-no-padding" size="3">
                    <ion-card-title>
                       <ion-avatar item-start>
              <img src="../../../../assets/Img/Cuisine3.jpg">
            </ion-avatar>
                </ion-card-title>
                </ion-col>
                <ion-col  class="ion-align-self-center" size="6">
                    <span color="danger">1 Spicy Penne Pasta</span>
          
                </ion-col>
                <ion-col class="ion-align-self-center" size="3">
                    <span class="ion-float-right">$18</span> 
                </ion-col>
              </ion-row>
              <ion-row >
                  <ion-col size="12">
                      <span>Special Requests: Extra cheese</span>
                  </ion-col>
           
                </ion-row>
              <ion-row >
                <ion-col size="7">
                    <span>Preferred Pick-up</span>
                </ion-col>
                <ion-col size="5">
                    <span class="ion-float-right">7.00-7.30PM</span>

                </ion-col>
              </ion-row>
              </ion-grid>
        
            </ion-card-content>
      </ion-card>


      <ion-card>
          <ion-card-content>
     
              <h5><b>Wednesday, November 27th</b></h5>
              <ion-grid class="ion-no-padding">
           <ion-row class="ion-margin-top">
                  <ion-col class="ion-no-padding" size="3">
                      <ion-card-title>
                         <ion-avatar item-start>
                <img src="../../../../assets/Img/Cuisine4.jpg">
              </ion-avatar>
                  </ion-card-title>
                  </ion-col>
                  <ion-col class="ion-align-self-center" size="6">
                      <span color="danger">Sesame Noodle Bowl</span>
           
   
                  </ion-col>
                  <ion-col class="ion-align-self-center" size="3">
                      <span  class="ion-float-right">$20</span> 
                  </ion-col>
                </ion-row>
                <ion-row >
                    <ion-col size="7">
                        <span>Special Requests:</span>
                    </ion-col>
                 
                  </ion-row>
                <ion-row >
                  <ion-col size="7">
                      <span>Preferred Pick-up</span>
                  </ion-col>
                  <ion-col size="5">
                      <span class="ion-float-right">7.00-7.30PM</span>
  
                  </ion-col>
                </ion-row>
                </ion-grid>
          
              </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
       
                <!-- <h5><b>Monday, November 27th</b></h5> -->
                <ion-grid class="ion-no-padding">
         
                  <ion-row >
                      <ion-col size="7">
                          <span><b>Subtotal</b></span>
                      </ion-col>
                      <ion-col size="5">
                          <span class="ion-float-right"><b>$60</b></span>
      
                      </ion-col>
                    </ion-row>
                  <ion-row >
                    <ion-col size="7">
                        <span><b>Tax</b></span>
                    </ion-col>
                    <ion-col size="5">
                        <span class="ion-float-right"><b>$8</b></span>
    
                    </ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col size="7">
                          <span><b>Total</b></span>
                      </ion-col>
                      <ion-col size="5">
                          <span class="ion-float-right"><b>$68</b></span>
      
                      </ion-col>
                    </ion-row>
              <ion-row>
                <ion-col size="12">
                    <ion-list>
                        <span class="ion-no-padding">
                         <b> Payment</b>
                        </span>
                        <ion-icon style="font-size: 20px;" color="primary" class="ion-float-right" name="card"></ion-icon>
                        </ion-list>
                        <ion-list class="ion-no-padding">
                            <ion-label><b> Master Card </b></ion-label>
                            <ion-checkbox class="ion-float-right" checked="true"></ion-checkbox>
                        </ion-list>

                </ion-col>
              </ion-row>
                  </ion-grid>
            
                </ion-card-content>
          </ion-card>
          <ion-button color="danger" expand="block" (click)="NavigateToOrders()">
              Place Order
            </ion-button>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button >
            <ion-icon color="danger" name="pizza"></ion-icon>
              <ion-label color="danger">Menu</ion-label>
          </ion-tab-button>
          <ion-tab-button [routerLink]="[ '/main/orders' ]">
         <ion-icon  name="list-box"></ion-icon>            
               <ion-label >Orders</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="logoutMsg()">
              <ion-icon name="person"></ion-icon> 
             <ion-label>Account</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>