:host{
    .align {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      ion-item {
        // --border-color: transparent!important;
        --highlight-height: 0;
        // border: 2px solid #dedede;
        // border-radius: 4px;
        ion-input{
            font-size: 15px;
            color: grey;
        }
 
    }
}
