


<ion-content class="ion-padding" >
 
    <ion-row >
        <ion-col class="ion-text-center">
          <img class="logo" src="../../assets/Img/icons8-viking-helmet-100 (1).png" height="100px" width="100px" />
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -35px;">
          <ion-col class="ion-text-center">
            <h3><b>VIKING FOOD</b></h3>
  </ion-col>
      </ion-row>
      <ion-row >
          <ion-col size="12" class="ion-text-center">
            <h5 style="color:#f04141">How It Works?</h5>
  </ion-col>
      </ion-row>
      <ion-row >
          <ion-col size="12" class="ion-text-center">
            <div style="color:#f04141">Select from available menu options</div>
  </ion-col>
      </ion-row>
      <ion-row >
          <ion-col size="12" class="ion-text-center">
            <div style="color:#f04141">Place your order</div>
  </ion-col>
      </ion-row>
      <ion-row >
          <ion-col size="12" class="ion-text-center">
            <div style="color:#f04141">Pick up your meal at your chosen time and place</div>
  </ion-col>
      </ion-row>
    
  

        <ion-row>
    
            <ion-col >
              
                <ion-button color="danger" expand="block" [routerLink]="[ '/main/dashboard-menu' ]" >
                  Lets get started
                 </ion-button>
            </ion-col>
          </ion-row>
    <!-- </div> -->
    <!-- </form> -->
  </ion-content>
  
  